<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.zephyrproject.ide.eclipse.ui.preferences.ZephyrPreferenceTopPage"
            class="org.zephyrproject.ide.eclipse.ui.preferences.ZephyrPreferenceToolchainPage"
            id="org.zephyrproject.ide.eclipse.ui.preferences.ZephyrPreferenceToolchainPage"
            name="Zephyr Toolchain">
      </page>
      <page
            class="org.zephyrproject.ide.eclipse.ui.preferences.ZephyrPreferenceTopPage"
            id="org.zephyrproject.ide.eclipse.ui.preferences.ZephyrPreferenceTopPage"
            name="Zephyr">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.zephyrproject.ide.eclipse.ui.preferences.ZephyrPreferenceInitializer">
      </initializer>
   </extension>
   <extension
         id="zephyrApplicationBuilder"
         name="Zephyr Application Builder"
         point="org.eclipse.core.resources.builders">
      <builder
            callOnEmptyDelta="true"
            hasNature="true"
            isConfigurable="true">
         <run
               class="org.zephyrproject.ide.eclipse.core.ZephyrApplicationBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="zephyrApplicationNature"
         name="Zephyr Application Nature"
         point="org.eclipse.core.resources.natures">
      <requires-nature
            id="org.eclipse.cdt.core.cnature">
      </requires-nature>
      <runtime>
         <run
               class="org.zephyrproject.ide.eclipse.core.ZephyrApplicationNature">
         </run>
      </runtime>
      <builder
            id="org.zephyrproject.ide.eclipse.zephyrApplicationBuilder">
      </builder>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="org.zephyrproject.ide.eclipse.category.ui.wizards"
            name="Zephyr Project">
      </category>
      <wizard
            category="org.zephyrproject.ide.eclipse.category.ui.wizards"
            class="org.zephyrproject.ide.eclipse.ui.wizards.ZephyrApplicationNewProjectWizard"
            finalPerspective="org.eclipse.cdt.ui.CPerspective"
            icon="icons/zephyr-kite-logo_32x32.png"
            id="org.zephyrproject.ide.eclipse.ui.wizards.ZephyrApplicationNewProjectWizard"
            name="Zephyr Application"
            project="true">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.ide.projectNatureImages">
      <image
            icon="icons/zephyr-project-icon.png"
            id="org.zephyrproject.ide.eclipse.core.natureImage"
            natureId="org.zephyrproject.ide.eclipse.zephyrApplicationNature">
      </image>
   </extension>
   <extension
         point="org.eclipse.tools.templates.ui.templates">
      <template
            icon="icons/zephyr-kite-logo_48x48.png"
            id="org.zephyrproject.ide.eclipse.ui.ZephyrApplicationNewProjectTemplate"
            label="Zephyr Application"
            wizard="org.zephyrproject.ide.eclipse.ui.wizards.ZephyrApplicationNewProjectWizard">
         <description>
            A new Zephyr Application
         </description>
         <tagReference
               id="org.zephyrproject.ide.eclipse.ui.tag">
         </tagReference>
         <tagReference
               id="org.eclipse.cdt.ui.cdtTag">
         </tagReference>
      </template>
      <tag
            id="org.zephyrproject.ide.eclipse.ui.tag"
            label="Zephyr">
      </tag>
   </extension>
   <extension
         point="org.eclipse.cdt.core.buildConfigProvider">
      <provider
            class="org.zephyrproject.ide.eclipse.core.build.ZephyrApplicationBuildConfigurationProvider"
            id="org.zephyrproject.ide.eclipse.core.build.zephyrApplicationBuildConfigProvider"
            natureId="org.zephyrproject.ide.eclipse.zephyrApplicationNature">
      </provider>
   </extension>
   <extension
         point="org.eclipse.cdt.core.toolChainProvider">
      <provider
            class="org.zephyrproject.ide.eclipse.core.build.ZephyrApplicationToolChainProvider"
            id="org.zephyrproject.ide.eclipse.core.build.zephyrApplicationToolChainProvider">
      </provider>
   </extension>
   <extension
         point="org.eclipse.debug.core.processFactories">
      <processFactory
            class="org.zephyrproject.ide.eclipse.core.launch.ZephyrProcessFactory"
            id="org.zephyrproject.ide.eclipse.processFactory">
      </processFactory>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="org.zephyrproject.ide.eclipse.core.launchConfigurationType.emulator.run"
            icon="icons/zephyr-kite-logo_16x16.png"
            id="org.zephyrproject.ide.eclipse.core.launchConfigurationType.emulator.run.image">
      </launchConfigurationTypeImage>
      <launchConfigurationTypeImage
            configTypeID="org.zephyrproject.ide.eclipse.core.launchConfigurationType.emulator.debug"
            icon="icons/zephyr-kite-logo_16x16.png"
            id="org.zephyrproject.ide.eclipse.core.launchConfigurationType.emulator.debug.image">
      </launchConfigurationTypeImage>
      <launchConfigurationTypeImage
            configTypeID="org.zephyrproject.ide.eclipse.core.launchConfigurationType.hardware.run"
            icon="icons/zephyr-kite-logo_16x16.png"
            id="org.zephyrproject.ide.eclipse.core.launchConfigurationType.hardware.run.image">
      </launchConfigurationTypeImage>
      <launchConfigurationTypeImage
            configTypeID="org.zephyrproject.ide.eclipse.core.launchConfigurationType.hardware.debug"
            icon="icons/zephyr-kite-logo_16x16.png"
            id="org.zephyrproject.ide.eclipse.core.launchConfigurationType.hardware.debug.image">
      </launchConfigurationTypeImage>
   </extension>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            id="org.zephyrproject.ide.eclipse.core.launchConfigurationType.emulator.run"
            modes="run"
            name="Zephyr Emulator Target"
            public="true">
      </launchConfigurationType>
      <launchConfigurationType
            id="org.zephyrproject.ide.eclipse.core.launchConfigurationType.emulator.debug"
            modes="debug"
            name="Zephyr Emulator Target"
            public="true">
      </launchConfigurationType>
      <launchConfigurationType
            id="org.zephyrproject.ide.eclipse.core.launchConfigurationType.hardware.run"
            modes="run"
            name="Zephyr Hardware Target"
            public="true">
      </launchConfigurationType>
      <launchConfigurationType
            id="org.zephyrproject.ide.eclipse.core.launchConfigurationType.hardware.debug"
            modes="debug"
            name="Zephyr Hardware Target"
            public="true">
      </launchConfigurationType>
      <launchConfigurationType
            delegate="org.zephyrproject.ide.eclipse.core.launch.ZephyrApplicationEmulatorRunLaunchConfigDelegate"
            id="org.zephyrproject.ide.eclipse.core.launchTargetType.emulator.run"
            modes="run"
            name="Auto Zephyr Emulator Run Target"
            public="false">
      </launchConfigurationType>
      <launchConfigurationType
            delegate="org.zephyrproject.ide.eclipse.core.launch.ZephyrApplicationHardwareRunLaunchConfigDelegate"
            id="org.zephyrproject.ide.eclipse.core.launchTargetType.hardware.run"
            modes="run"
            name="Auto Zephyr Hardware Run Target"
            public="false">
      </launchConfigurationType>
   </extension>
   <extension
         point="org.eclipse.debug.core.launchDelegates">
      <launchDelegate
            delegate="org.zephyrproject.ide.eclipse.core.launch.ZephyrApplicationEmulatorRunLaunchConfigDelegate"
            id="org.zephyrproject.ide.eclipse.core.launchDelegate.emulator.run"
            modes="run"
            name="Zephyr Emulator Run Delegate"
            type="org.zephyrproject.ide.eclipse.core.launchConfigurationType.emulator.run">
      </launchDelegate>
      <launchDelegate
            delegate="org.zephyrproject.ide.eclipse.core.launch.ZephyrApplicationEmulatorDebugLaunchConfigDelegate"
            id="org.zephyrproject.ide.eclipse.core.launchDelegate.emulator.debug"
            modes="debug"
            name="Zephyr Emulator Debug Delegate"
            sourceLocatorId="org.eclipse.cdt.debug.core.sourceLocator"
            sourcePathComputerId="org.eclipse.cdt.debug.core.sourcePathComputer"
            type="org.zephyrproject.ide.eclipse.core.launchConfigurationType.emulator.debug">
      </launchDelegate>
      <launchDelegate
            delegate="org.zephyrproject.ide.eclipse.core.launch.ZephyrApplicationHardwareRunLaunchConfigDelegate"
            id="org.zephyrproject.ide.eclipse.core.launchDelegate.hardware.run"
            modes="run"
            name="Zephyr Hardware Run Delegate"
            type="org.zephyrproject.ide.eclipse.core.launchConfigurationType.hardware.run">
      </launchDelegate>
      <launchDelegate
            delegate="org.zephyrproject.ide.eclipse.core.launch.ZephyrApplicationHardwareDebugLaunchConfigDelegate"
            id="org.zephyrproject.ide.eclipse.core.launchDelegate.hardware.debug"
            modes="debug"
            name="Zephyr Hardware Debug Delegate"
            sourceLocatorId="org.eclipse.cdt.debug.core.sourceLocator"
            sourcePathComputerId="org.eclipse.cdt.debug.core.sourcePathComputer"
            type="org.zephyrproject.ide.eclipse.core.launchConfigurationType.hardware.debug">
      </launchDelegate>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="org.zephyrproject.ide.eclipse.ui.launch.ZephyrApplicationEmulatorRunLaunchConfigurationTabGroup"
            id="org.zephyrproject.ide.eclipse.launch.emulatorRunLaunchConfigurationTabGroup"
            type="org.zephyrproject.ide.eclipse.core.launchConfigurationType.emulator.run">
         <launchMode
               mode="run">
         </launchMode>
      </launchConfigurationTabGroup>
      <launchConfigurationTabGroup
            class="org.zephyrproject.ide.eclipse.ui.launch.ZephyrApplicationEmulatorDebugLaunchConfigurationTabGroup"
            id="org.zephyrproject.ide.eclipse.launch.emulatorDebugLaunchConfigurationTabGroup"
            type="org.zephyrproject.ide.eclipse.core.launchConfigurationType.emulator.debug">
         <launchMode
               description="debug"
               mode="debug"
               perspective="org.eclipse.debug.ui.DebugPerspective">
         </launchMode>
      </launchConfigurationTabGroup>
      <launchConfigurationTabGroup
            class="org.zephyrproject.ide.eclipse.ui.launch.ZephyrApplicationHardwareRunLaunchConfigurationTabGroup"
            id="org.zephyrproject.ide.eclipse.launch.hardwareRunLaunchConfigurationTabGroup"
            type="org.zephyrproject.ide.eclipse.core.launchConfigurationType.hardware.run">
         <launchMode
               mode="run">
         </launchMode>
      </launchConfigurationTabGroup>
      <launchConfigurationTabGroup
            class="org.zephyrproject.ide.eclipse.ui.launch.ZephyrApplicationHardwareDebugLaunchConfigurationTabGroup"
            id="org.zephyrproject.ide.eclipse.launch.hardwareDebugLaunchConfigurationTabGroup"
            type="org.zephyrproject.ide.eclipse.core.launchConfigurationType.hardware.debug">
         <launchMode
               description="debug"
               mode="debug"
               perspective="org.eclipse.debug.ui.DebugPerspective">
         </launchMode>
      </launchConfigurationTabGroup>
   </extension>
   <extension
         point="org.eclipse.launchbar.core.launchBarContributions">
      <descriptorType
            class="org.zephyrproject.ide.eclipse.core.launchbar.ZephyrApplicationLaunchDescriptorType"
            id="org.zephyrproject.ide.eclipse.launch.descriptorType.default"
            priority="50">
         <enablement>
            <and>
               <instanceof
                     value="org.eclipse.core.resources.IProject">
               </instanceof>
               <test
                     property="org.eclipse.core.resources.projectNature"
                     value="org.zephyrproject.ide.eclipse.zephyrApplicationNature">
               </test></and>
         </enablement>
      </descriptorType>
      <configProvider
            class="org.zephyrproject.ide.eclipse.core.launchbar.ZephyrApplicationLaunchConfigurationProvider"
            descriptorType="org.zephyrproject.ide.eclipse.launch.descriptorType.default"
            priority="50">
      </configProvider>
   </extension>
   <extension
         point="org.eclipse.launchbar.ui.launchBarUIContributions">
      <descriptorUI
            descriptorTypeId="org.zephyrproject.ide.eclipse.launch.descriptorType.default"
            labelProvider="org.zephyrproject.ide.eclipse.core.launchbar.ZephyrApplicationLaunchBarConfigurationLabelProvider">
      </descriptorUI>
   </extension>
   <extension
         point="org.eclipse.launchbar.core.launchTargetTypes">
      <launchTargetType
            id="org.zephyrproject.ide.eclipse.core.launchTargetType.emulator.run"
            provider="org.zephyrproject.ide.eclipse.core.launchbar.ZephyrApplicationLaunchTargetProvider">
      </launchTargetType>
      <launchTargetType
            id="org.zephyrproject.ide.eclipse.core.launchTargetType.hardware.run"
            provider="org.zephyrproject.ide.eclipse.core.launchbar.ZephyrApplicationLaunchTargetProvider">
      </launchTargetType>
   </extension>
   <extension
         point="org.eclipse.launchbar.ui.launchTargetTypeUI">
      <launchTargetTypeUI
            id="org.zephyrproject.ide.eclipse.core.launchTargetType.emulator.run"
            labelProvider="org.zephyrproject.ide.eclipse.core.launchbar.ZephyrApplicationLaunchBarTargetLabelProvider">
      </launchTargetTypeUI>
      <launchTargetTypeUI
            id="org.zephyrproject.ide.eclipse.core.launchTargetType.hardware.run"
            labelProvider="org.zephyrproject.ide.eclipse.core.launchbar.ZephyrApplicationLaunchBarTargetLabelProvider">
      </launchTargetTypeUI>
   </extension>
</plugin>
