<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target includeMode="feature" name="Zephyr Project Eclipse Plugin Target Platform - Neon" sequenceNumber="18">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="false" type="InstallableUnit">
<unit id="org.eclipse.cdt.gnu.dsf.feature.group" version="9.2.1.201703062208"/>
<unit id="org.eclipse.launchbar.feature.group" version="2.1.0.201612052026"/>
<unit id="org.eclipse.cdt.gnu.debug.feature.group" version="9.2.1.201703062208"/>
<unit id="org.eclipse.cdt.platform.feature.group" version="9.2.1.201703062208"/>
<unit id="org.eclipse.cdt.debug.gdbjtag.feature.group" version="9.2.1.201703062208"/>
<unit id="org.eclipse.cdt.gdb.feature.group" version="9.2.1.201703062208"/>
<unit id="org.eclipse.cdt.feature.group" version="9.2.1.201703062208"/>
<unit id="org.eclipse.cdt.gnu.build.feature.group" version="9.2.1.201703062208"/>
<unit id="org.eclipse.cdt.cmake.feature.group" version="9.2.1.201703062208"/>
<repository location="http://download.eclipse.org/releases/neon/201705151400"/>
</location>
</locations>
</target>
