<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.zephyrproject.ide.eclipse.ui.preferences.ZephyrPreferenceTopPage"
            class="org.zephyrproject.ide.eclipse.ui.preferences.ZephyrPreferenceToolchainPage"
            id="org.zephyrproject.ide.eclipse.ui.preferences.ZephyrPreferenceToolchainPage"
            name="Zephyr Toolchain">
      </page>
      <page
            class="org.zephyrproject.ide.eclipse.ui.preferences.ZephyrPreferenceTopPage"
            id="org.zephyrproject.ide.eclipse.ui.preferences.ZephyrPreferenceTopPage"
            name="Zephyr">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="org.zephyrproject.ide.eclipse.ui.property.ZephyrApplicationTopPropertyPage"
            id="org.zephyrproject.ide.eclipse.ui.property.ZephyrApplicationTopPropertyPage"
            name="Zephyr Application">
         <enabledWhen>
            <adapt type="org.eclipse.core.resources.IProject">
               <test property="org.eclipse.core.resources.projectNature"
                     value="org.zephyrproject.ide.eclipse.zephyrApplicationNature"/>
            </adapt>
         </enabledWhen>
      </page>
      <page
            category="org.zephyrproject.ide.eclipse.ui.property.ZephyrApplicationTopPropertyPage"
            class="org.zephyrproject.ide.eclipse.ui.property.ZephyrApplicationToolchainPropertyPage"
            id="org.zephyrproject.ide.eclipse.ui.property.ZephyrApplicationToolchainPropertyPage"
            name="Toolchain">
         <enabledWhen>
            <adapt type="org.eclipse.core.resources.IProject">
               <test property="org.eclipse.core.resources.projectNature"
                     value="org.zephyrproject.ide.eclipse.zephyrApplicationNature"/>
            </adapt>
         </enabledWhen>
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="org.zephyrproject.ide.eclipse.category.ui.wizards"
            name="Zephyr Project">
      </category>
      <wizard
            category="org.zephyrproject.ide.eclipse.category.ui.wizards"
            class="org.zephyrproject.ide.eclipse.ui.wizards.ZephyrApplicationNewProjectWizard"
            finalPerspective="org.eclipse.cdt.ui.CPerspective"
            icon="icons/zephyr-kite-logo_32x32.png"
            id="org.zephyrproject.ide.eclipse.ui.wizards.ZephyrApplicationNewProjectWizard"
            name="Zephyr Application"
            project="true">
         <description>
            Create a simple Hello World Zephyr Application project.
         </description>
      </wizard>
      <wizard
            category="org.zephyrproject.ide.eclipse.category.ui.wizards"
            class="org.zephyrproject.ide.eclipse.ui.wizards.ZephyrApplicationEmptyProjectWizard"
            finalPerspective="org.eclipse.cdt.ui.CPerspective"
            icon="icons/zephyr-kite-logo_32x32.png"
            id="org.zephyrproject.ide.eclipse.ui.wizards.ZephyrApplicationEmptyProjectWizard"
            name="Empty Zephyr Application"
            project="true">
         <description>
            Create an empty Zephyr Application project.
         </description>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.ide.projectNatureImages">
      <image
            icon="icons/zephyr-project-icon.png"
            id="org.zephyrproject.ide.eclipse.core.natureImage"
            natureId="org.zephyrproject.ide.eclipse.core.zephyrApplicationNature">
      </image>
   </extension>
   <extension
         point="org.eclipse.tools.templates.ui.templates">
      <template
            icon="icons/zephyr-kite-logo_48x48.png"
            id="org.zephyrproject.ide.eclipse.ui.ZephyrApplicationNewProjectTemplate"
            label="Zephyr Application"
            wizard="org.zephyrproject.ide.eclipse.ui.wizards.ZephyrApplicationNewProjectWizard">
         <description>
            Create a simple Hello World Zephyr Application project.
         </description>
         <tagReference
               id="org.zephyrproject.ide.eclipse.ui.tag">
         </tagReference>
         <tagReference
               id="org.eclipse.cdt.ui.cdtTag">
         </tagReference>
      </template>
      <template
            icon="icons/zephyr-kite-logo_48x48.png"
            id="org.zephyrproject.ide.eclipse.ui.ZephyrApplicationEmptyProjectTemplate"
            label="Empty Zephyr Application"
            wizard="org.zephyrproject.ide.eclipse.ui.wizards.ZephyrApplicationEmptyProjectWizard">
         <description>
            Create an empty Zephyr Application project.
         </description>
         <tagReference
               id="org.zephyrproject.ide.eclipse.ui.tag">
         </tagReference>
         <tagReference
               id="org.eclipse.cdt.ui.cdtTag">
         </tagReference>
      </template>
      <tag
            id="org.zephyrproject.ide.eclipse.ui.tag"
            label="Zephyr">
      </tag>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="org.zephyrproject.ide.eclipse.core.launchConfigurationType.emulator.run"
            icon="icons/zephyr-kite-logo_16x16.png"
            id="org.zephyrproject.ide.eclipse.core.launchConfigurationType.emulator.run.image">
      </launchConfigurationTypeImage>
      <launchConfigurationTypeImage
            configTypeID="org.zephyrproject.ide.eclipse.core.launchConfigurationType.emulator.debug"
            icon="icons/zephyr-kite-logo_16x16.png"
            id="org.zephyrproject.ide.eclipse.core.launchConfigurationType.emulator.debug.image">
      </launchConfigurationTypeImage>
      <launchConfigurationTypeImage
            configTypeID="org.zephyrproject.ide.eclipse.core.launchConfigurationType.hardware.run"
            icon="icons/zephyr-kite-logo_16x16.png"
            id="org.zephyrproject.ide.eclipse.core.launchConfigurationType.hardware.run.image">
      </launchConfigurationTypeImage>
      <launchConfigurationTypeImage
            configTypeID="org.zephyrproject.ide.eclipse.core.launchConfigurationType.hardware.debug"
            icon="icons/zephyr-kite-logo_16x16.png"
            id="org.zephyrproject.ide.eclipse.core.launchConfigurationType.hardware.debug.image">
      </launchConfigurationTypeImage>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="org.zephyrproject.ide.eclipse.ui.launch.ZephyrApplicationEmulatorRunLaunchConfigurationTabGroup"
            id="org.zephyrproject.ide.eclipse.launch.emulatorRunLaunchConfigurationTabGroup"
            type="org.zephyrproject.ide.eclipse.core.launchConfigurationType.emulator.run">
         <launchMode
               mode="run">
         </launchMode>
      </launchConfigurationTabGroup>
      <launchConfigurationTabGroup
            class="org.zephyrproject.ide.eclipse.ui.launch.ZephyrApplicationEmulatorDebugLaunchConfigurationTabGroup"
            id="org.zephyrproject.ide.eclipse.launch.emulatorDebugLaunchConfigurationTabGroup"
            type="org.zephyrproject.ide.eclipse.core.launchConfigurationType.emulator.debug">
         <launchMode
               description="debug"
               mode="debug"
               perspective="org.eclipse.debug.ui.DebugPerspective">
         </launchMode>
      </launchConfigurationTabGroup>
      <launchConfigurationTabGroup
            class="org.zephyrproject.ide.eclipse.ui.launch.ZephyrApplicationHardwareRunLaunchConfigurationTabGroup"
            id="org.zephyrproject.ide.eclipse.launch.hardwareRunLaunchConfigurationTabGroup"
            type="org.zephyrproject.ide.eclipse.core.launchConfigurationType.hardware.run">
         <launchMode
               mode="run">
         </launchMode>
      </launchConfigurationTabGroup>
      <launchConfigurationTabGroup
            class="org.zephyrproject.ide.eclipse.ui.launch.ZephyrApplicationHardwareDebugLaunchConfigurationTabGroup"
            id="org.zephyrproject.ide.eclipse.launch.hardwareDebugLaunchConfigurationTabGroup"
            type="org.zephyrproject.ide.eclipse.core.launchConfigurationType.hardware.debug">
         <launchMode
               description="debug"
               mode="debug"
               perspective="org.eclipse.debug.ui.DebugPerspective">
         </launchMode>
      </launchConfigurationTabGroup>
   </extension>
   <extension
         point="org.eclipse.launchbar.ui.launchBarUIContributions">
      <descriptorUI
            descriptorTypeId="org.zephyrproject.ide.eclipse.core.launch.descriptorType.default"
            labelProvider="org.zephyrproject.ide.eclipse.ui.launchbar.ZephyrApplicationLaunchBarConfigurationLabelProvider">
      </descriptorUI>
   </extension>
   <extension
         point="org.eclipse.launchbar.ui.launchTargetTypeUI">
      <launchTargetTypeUI
            id="org.zephyrproject.ide.eclipse.core.launchTargetType.emulator.run"
            labelProvider="org.zephyrproject.ide.eclipse.ui.launchbar.ZephyrApplicationLaunchBarTargetLabelProvider">
      </launchTargetTypeUI>
      <launchTargetTypeUI
            id="org.zephyrproject.ide.eclipse.core.launchTargetType.hardware.run"
            labelProvider="org.zephyrproject.ide.eclipse.ui.launchbar.ZephyrApplicationLaunchBarTargetLabelProvider">
      </launchTargetTypeUI>
   </extension>
</plugin>
