<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.zephyrproject.ide.eclipse.core.preferences.ZephyrPreferenceInitializer">
      </initializer>
   </extension>
   <extension
         id="zephyrApplicationBuilder"
         name="Zephyr Application Builder"
         point="org.eclipse.core.resources.builders">
      <builder
            callOnEmptyDelta="true"
            hasNature="true"
            isConfigurable="true">
         <run
               class="org.zephyrproject.ide.eclipse.core.ZephyrApplicationBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="zephyrApplicationNature"
         name="Zephyr Application Nature"
         point="org.eclipse.core.resources.natures">
      <requires-nature
            id="org.eclipse.cdt.core.cnature">
      </requires-nature>
      <runtime>
         <run
               class="org.zephyrproject.ide.eclipse.core.ZephyrApplicationNature">
         </run>
      </runtime>
      <builder
            id="org.zephyrproject.ide.eclipse.core.zephyrApplicationBuilder">
      </builder>
   </extension>
   <extension
         point="org.eclipse.cdt.core.buildConfigProvider">
      <provider
            class="org.zephyrproject.ide.eclipse.core.build.ZephyrApplicationBuildConfigurationProvider"
            id="org.zephyrproject.ide.eclipse.core.build.zephyrApplicationBuildConfigProvider"
            natureId="org.zephyrproject.ide.eclipse.core.zephyrApplicationNature">
      </provider>
   </extension>
   <extension
         point="org.eclipse.cdt.core.toolChainProvider">
      <provider
            class="org.zephyrproject.ide.eclipse.core.build.ZephyrApplicationToolChainProvider"
            id="org.zephyrproject.ide.eclipse.core.build.zephyrApplicationToolChainProvider">
      </provider>
   </extension>
   <extension
         point="org.eclipse.debug.core.processFactories">
      <processFactory
            class="org.zephyrproject.ide.eclipse.core.launch.ZephyrProcessFactory"
            id="org.zephyrproject.ide.eclipse.core.processFactory">
      </processFactory>
   </extension>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            id="org.zephyrproject.ide.eclipse.core.launchConfigurationType.emulator.run"
            modes="run"
            name="Zephyr Emulator Target"
            public="true">
      </launchConfigurationType>
      <launchConfigurationType
            id="org.zephyrproject.ide.eclipse.core.launchConfigurationType.emulator.debug"
            modes="debug"
            name="Zephyr Emulator Target"
            public="true">
      </launchConfigurationType>
      <launchConfigurationType
            id="org.zephyrproject.ide.eclipse.core.launchConfigurationType.hardware.run"
            modes="run"
            name="Zephyr Hardware Target"
            public="true">
      </launchConfigurationType>
      <launchConfigurationType
            id="org.zephyrproject.ide.eclipse.core.launchConfigurationType.hardware.debug"
            modes="debug"
            name="Zephyr Hardware Target"
            public="true">
      </launchConfigurationType>
      <launchConfigurationType
            delegate="org.zephyrproject.ide.eclipse.core.launch.ZephyrApplicationEmulatorRunLaunchConfigDelegate"
            id="org.zephyrproject.ide.eclipse.core.launchTargetType.emulator.run"
            modes="run"
            name="Auto Zephyr Emulator Run Target"
            public="false">
      </launchConfigurationType>
      <launchConfigurationType
            delegate="org.zephyrproject.ide.eclipse.core.launch.ZephyrApplicationHardwareRunLaunchConfigDelegate"
            id="org.zephyrproject.ide.eclipse.core.launchTargetType.hardware.run"
            modes="run"
            name="Auto Zephyr Hardware Run Target"
            public="false">
      </launchConfigurationType>
   </extension>
   <extension
         point="org.eclipse.debug.core.launchDelegates">
      <launchDelegate
            delegate="org.zephyrproject.ide.eclipse.core.launch.ZephyrApplicationEmulatorRunLaunchConfigDelegate"
            id="org.zephyrproject.ide.eclipse.core.launchDelegate.emulator.run"
            modes="run"
            name="Zephyr Emulator Run Delegate"
            type="org.zephyrproject.ide.eclipse.core.launchConfigurationType.emulator.run">
      </launchDelegate>
      <launchDelegate
            delegate="org.zephyrproject.ide.eclipse.core.launch.ZephyrApplicationEmulatorDebugLaunchConfigDelegate"
            id="org.zephyrproject.ide.eclipse.core.launchDelegate.emulator.debug"
            modes="debug"
            name="Zephyr Emulator Debug Delegate"
            sourceLocatorId="org.eclipse.cdt.debug.core.sourceLocator"
            sourcePathComputerId="org.eclipse.cdt.debug.core.sourcePathComputer"
            type="org.zephyrproject.ide.eclipse.core.launchConfigurationType.emulator.debug">
      </launchDelegate>
      <launchDelegate
            delegate="org.zephyrproject.ide.eclipse.core.launch.ZephyrApplicationHardwareRunLaunchConfigDelegate"
            id="org.zephyrproject.ide.eclipse.core.launchDelegate.hardware.run"
            modes="run"
            name="Zephyr Hardware Run Delegate"
            type="org.zephyrproject.ide.eclipse.core.launchConfigurationType.hardware.run">
      </launchDelegate>
      <launchDelegate
            delegate="org.zephyrproject.ide.eclipse.core.launch.ZephyrApplicationHardwareDebugLaunchConfigDelegate"
            id="org.zephyrproject.ide.eclipse.core.launchDelegate.hardware.debug"
            modes="debug"
            name="Zephyr Hardware Debug Delegate"
            sourceLocatorId="org.eclipse.cdt.debug.core.sourceLocator"
            sourcePathComputerId="org.eclipse.cdt.debug.core.sourcePathComputer"
            type="org.zephyrproject.ide.eclipse.core.launchConfigurationType.hardware.debug">
      </launchDelegate>
   </extension>
   <extension
         point="org.eclipse.launchbar.core.launchBarContributions">
      <descriptorType
            class="org.zephyrproject.ide.eclipse.core.launchbar.ZephyrApplicationLaunchDescriptorType"
            id="org.zephyrproject.ide.eclipse.core.launch.descriptorType.default"
            priority="50">
         <enablement>
            <and>
               <instanceof
                     value="org.eclipse.core.resources.IProject">
               </instanceof>
               <test
                     property="org.eclipse.core.resources.projectNature"
                     value="org.zephyrproject.ide.eclipse.core.zephyrApplicationNature">
               </test></and>
         </enablement>
      </descriptorType>
      <configProvider
            class="org.zephyrproject.ide.eclipse.core.launchbar.ZephyrApplicationLaunchConfigurationProvider"
            descriptorType="org.zephyrproject.ide.eclipse.core.launch.descriptorType.default"
            priority="50">
      </configProvider>
   </extension>
   <extension
         point="org.eclipse.launchbar.core.launchTargetTypes">
      <launchTargetType
            id="org.zephyrproject.ide.eclipse.core.launchTargetType.emulator.run"
            provider="org.zephyrproject.ide.eclipse.core.launchbar.ZephyrApplicationLaunchTargetProvider">
      </launchTargetType>
      <launchTargetType
            id="org.zephyrproject.ide.eclipse.core.launchTargetType.hardware.run"
            provider="org.zephyrproject.ide.eclipse.core.launchbar.ZephyrApplicationLaunchTargetProvider">
      </launchTargetType>
   </extension>
</plugin>
